@using PagedList.Mvc
@using PagedList
@model PagedList<Web.Models.ArticleModel>

@using CafeT.Text
@using CafeT.Time

<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<link href="~/Content/PagedList.css" rel="stylesheet" />
<div id="paging">
    <p>Kết quả tìm kiếm cho: @ViewBag.KeyWords</p>
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-md-2">
                        @if (item.ImageUrl.IsImageUrl())
                        {
                            <img src="@item.ImageUrl" class="img-fluid" />
                        }
                    </div>
                    <div class="col-md-10">
                        <h5>
                            @Html.ActionLink(item.Title, "Details", new { id = item.Id })
                        </h5>
                        <hr />
                        <p>
                            Tác giả: <span class="text-danger">@item.CreatedBy</span>
                        </p>

                        <p class="text-justify">
                            @Html.Raw(item.Description.Replace(@"\n", "<br />").Replace(@"\", ""))
                        </p>
                        @*@if (!item.ContentUrl.GetDomain().Contains("google.com"))
                            {
                                <p>Nguồn: @Html.Raw(item.ContentUrl.GetDomain())</p>
                            }*@

                        @*<p>
                                Từ khóa <span class="text-danger">@item.Tags.Replace(@"\n", " ")</span>
                            </p>*@
                    </div>
                </div>
            </li>
        }
    </ul>
    @Html.PagedListPager(Model, page =>
                                Url.Action("Index","Articles", new { page = page, pageSize=5 }),
                    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new PagedListRenderOptions
                    {
                        Display = PagedListDisplayMode.IfNeeded,
                        MaximumPageNumbersToDisplay = 5
                    },
                    new AjaxOptions
                    {
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "Post",
                        UpdateTargetId = "paging",
                        LoadingElementId = "divProcessing"
                    }))
</div>


